<app-navigation></app-navigation>

<div class="card" (keydown.enter)="calculate()">
    <div class="card-body">
        <h4>Wprowadź informacje o zarobkach</h4>
        <br>

        <div class="form-group">
            <label for="salaryNetto">Miesięczna pensja netto (PLN)</label>
            <input type="text" class="form-control" id="salaryNetto" placeholder="netto" [(ngModel)]="salaryNetto">
        </div>
    </div>

    <button id="calculateBtn" type="button" class="btn btn-outline-primary btn-lg has-spinner" (click)="calculate(); onClick()"
        [class.active]="wasCalculateClicked">
        <span class="spinner" [style.display]="isSpinnerVisible ? 'inline' : 'none'">
            <i class="icon-spin icon-refresh icon-large"></i>
        </span>
        <span [style.display]="isSpinnerVisible ? 'none' : 'inline'">
            Sprawdź
        </span>
    </button>

    <br>
    <div class="card-body">
        <h1 *ngIf="salaryDisplay">{{ salaryDisplay }} </h1>
    </div>
</div>