<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>MyMaterial</span>
        <span class="example-spacer"></span>

        <button mat-button>About</button>
        <button mat-button>Services</button>
        <button mat-button>Contact</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-form-field>
        <input matInput [(ngModel)]="salary" placeholder="Miesięczna pensja netto">
    </mat-form-field>

    <br>

    <button mat-raised-button (click)="showSalary()">Pokaż pensję</button>
    <mat-spinner [style.display]="isSpinnerVisible ? 'block' : 'none'"></mat-spinner>
</mat-card>

<mat-card *ngIf="salaryDisplay">
    <h1>{{ salaryDisplay }} </h1>
</mat-card>